@import "tailwindcss";

@theme {
  --color-brand-primary: #3b82f6;
}


@layer base {
  :root, [data-theme="light"] {
    --color-brand-primary: #60a5fa;
  }
  [data-theme="dark"] {
    --color-brand-primary: #1e40af;
  }
}

@layer components {
}
