@import "tailwindcss";

@theme {
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #8b5cf6;
  --color-status-error: #ef4444;
  --color-status-success: #10b981;
  --color-status-warning: #f59e0b;
  --spacing-lg: 1.5rem;
  --spacing-md: 1rem;
  --spacing-sm: 0.5rem;
}


@layer components {
}
